<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title></title>
</head>
<body>

<div style="float: left">
<%= displayURLS %>
</div>
<div style="float: right">
<iframe width="854" height="480" src="https://www.youtube.com/embed/fZu3P0OsQPk" frameborder="0" allowfullscreen></iframe>
</div>


</body>
</html>



