<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
 <script type="text/javascript" src="scripts.js"></script>

	<title>YouFlix</title>
</head>
<body>


<div style="float: left">
	<div>
	
	<h1><%= getUserName %></h1>
	
	<% result = getUserImage %>
	<%= '<img src="/images/'+ result["img"] + '" alt="' + result["name"]+ '">' %>

	

	<form action="/load_painting" method="POST"> 
		<select name="Sort By">
			<option value="A-Z">A-Z</option>
			<option value="Views">Most Views</option>
		</select>
		<input type="submit" id="filter">
	</form>

	</div>

<!-- TODO: Show the actual loop through the URLs here, so that front-end can more easily customize the HTML. -->


<%
	html = ""
	getVideos.each do |video|
		html +=('<li><a class="listItem" href="https://www.youtube.com/embed/' + video["video"]+'">'+video['title']+'</a></li>')
	end
%>
<%= html %>






</div>

<div style="float: right">
		
	<h1 class="video-title"> test </h1>
	<h1 class="video-views"> test </h1>
	<h1 class="video-description"> test </h1>

	<!-- TODO: Bring the HTML here, instead of trapping it inside the Ruby function. -->
	<%= displayRandomOnLoad %>



</div>

</body>
</html>



