<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">

	<title></title>
</head>
<body>

<div style="float: left">
<%= displayURLS %>
</div>

<div style="float: right">

<%= displayRandomOnLoad %>

</div>

</body>
</html>



