<!-- TODO: Read about layouts in Sinatra. That will explain what's supposed to go in this empty file that Sumeet made without explanation. (When you figure it out, rename this file to remove the _ in the filename.) -->

<!-- Main layout for all pages  -->

<html>
  <head>
	<title><%= @title %></title>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
	<!-- Font Awesome CDN -->
	<script src="https://use.fontawesome.com/f52b318aa2.js"></script>
	<!-- Normalize -->
	<link href="/normalize.css" rel="stylesheet">
	<!-- Custom Css -->
	<link href="/styles.css" rel="stylesheet">
	<!-- Javascript -->
	<script src="/scripts.js" type="text/javascript"></script>
	<script src="/video-scripts.js" type="text/javascript"></script>
</head>

        <%= yield %>

</html>