<!DOCTYPE html>
<html>
<head>
	<title>LoginPage</title>
</head>
<body>
	<form action="/submit" method="POST">
		<input type="text" name="loginID" value="Name">
		<input type="text" name="passwordInput" value="Password">
		<input type="submit" value="Submit">
	</form>
</body>
</html>